extends layout

block content
  h1= message
  h2= code
  h3= url
  pre.
   If you stumble on to this page, you are seeing the HTML version of our 404 handler.
   It means the resource you requested, does not exist.
   Please see the API Documentation for more details or contact the administrator of Sundial.
